<p id="notice"><%= notice %></p>

<h1>Listing Dev Ports</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Portno</th>
      <th>Type</th>
      <th>Rackid</th>
      <th>Odfid</th>
      <th>Fiberid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dev_ports.each do |dev_port| %>
      <tr>
        <td><%= dev_port.name %></td>
        <td><%= dev_port.portno %></td>
        <td><%= dev_port.type %></td>
        <td><%= dev_port.RackID %></td>
        <td><%= dev_port.odfid %></td>
        <td><%= dev_port.fiberid %></td>
        <td><%= link_to 'Show', dev_port %></td>
        <td><%= link_to 'Edit', edit_dev_port_path(dev_port) %></td>
        <td><%= link_to 'Destroy', dev_port, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dev port', new_dev_port_path %>
