<%= form_for(@fiber_strand) do |f| %>
  <% if @fiber_strand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fiber_strand.errors.count, "error") %> prohibited this fiber_strand from being saved:</h2>

      <ul>
      <% @fiber_strand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :port1id %><br>
    <%= f.number_field :port1id %>
  </div>
  <div class="field">
    <%= f.label :port2id %><br>
    <%= f.number_field :port2id %>
  </div>
  <div class="field">
    <%= f.label :cableid %><br>
    <%= f.number_field :cableid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
