<p id="notice"><%= notice %></p>

<h1>Listing Fiber Strands</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Port1id</th>
      <th>Port2id</th>
      <th>Cableid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fiber_strands.each do |fiber_strand| %>
      <tr>
        <td><%= fiber_strand.name %></td>
        <td><%= fiber_strand.port1id %></td>
        <td><%= fiber_strand.port2id %></td>
        <td><%= fiber_strand.cableid %></td>
        <td><%= link_to 'Show', fiber_strand %></td>
        <td><%= link_to 'Edit', edit_fiber_strand_path(fiber_strand) %></td>
        <td><%= link_to 'Destroy', fiber_strand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fiber strand', new_fiber_strand_path %>
