<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fiber_strand.name %>
</p>

<p>
  <strong>Port1id:</strong>
  <%= @fiber_strand.port1id %>
</p>

<p>
  <strong>Port2id:</strong>
  <%= @fiber_strand.port2id %>
</p>

<p>
  <strong>Cableid:</strong>
  <%= @fiber_strand.cableid %>
</p>

<%= link_to 'Edit', edit_fiber_strand_path(@fiber_strand) %> |
<%= link_to 'Back', fiber_strands_path %>
