<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @term_dev.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @term_dev.type %>
</p>

<p>
  <strong>Rackid:</strong>
  <%= @term_dev.RackID %>
</p>

<%= link_to 'Edit', edit_term_dev_path(@term_dev) %> |
<%= link_to 'Back', term_devs_path %>
