<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @net_rack.name %>
</p>

<p>
  <strong>Locationid:</strong>
  <%= @net_rack.locations_id %>
</p>

<%= link_to 'Edit', edit_net_rack_path(@net_rack) %> |
<%= link_to 'Back', net_racks_path %>
